# macOS
.DS_Store

# IDE
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environment
venv/
.venv/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# Environment variables
.env
